<?xml version="1.0"?>

<launch>
  <arg name="frame"/>
  <arg name="worldFrame" default="world"/>

  <node name="newController" pkg="crazyflie_controller" type="newController" output="screen">
    <param name="frame" value="$(arg frame)" />
    <param name="worldFrame" value="$(arg worldFrame)" />
  </node>
</launch>
